@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(https://themes.googleusercontent.com/static/fonts/dancingscript/v4/DK0eTGXiZjN6yA8zAEyM2VhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito-Regular'), url(https://themes.googleusercontent.com/static/fonts/nunito/v5/0rdItLTcOd8TSMl72RUU5w.woff) format('woff');
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(https://themes.googleusercontent.com/static/fonts/quattrocentosans/v6/efd6FGWWGX5Z3ztwLBrG9b2aU247V0zTzydO4RoO9Ok.woff) format('woff');
}

.container {
  max-width: 960px;
}

.jumbotron {
  padding-top: 25px;
  padding-bottom: 25px;
}

.content {
  margin-top: 15px;
}

.nounderline {
  text-decoration: none !important
}
.btn-xs{
  padding: .01rem .2rem;
  font-size: .75rem;
  border-radius: .2rem;
}

.pv-recommendation-entity:first-child {
  padding-top: 0;
  border-top: none;
}
.pv-recommendation-entity {
  margin-right: 0;
  display: flex;
  border-top: 1px solid #e6e9ec;
  padding: 16px 0;
}

/* image settings */
.pv-recommendation-entity img {
  border-radius: 50%
}

.pv-recommendation-entity__header {
  width: 33%;
}

.pv-recommendation-entity__highlights {
  width: 66%;
  padding-left: 16px;
}

.pv-profile-wrapper a:visited {
  color: #fff;
}
.pv-profile-wrapper a {
  text-decoration: none;
}

.pv-recommendation-entity__member {
  display: block;
  overflow: auto;
  text-decoration: none;
}

a.pv-recommendation-entity__member {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-bottom: 0px #fff;
}

/* name of recommending */
.t-16 {
  padding-top: 20px;
  font-size: 1.5rem;
  line-height: 1.33333;
}

/* title of recommending */
.t-14 {
  font-size: 1.0rem;
  line-height: 1.42857;
}

/* date and relationship */
.t-12 {
  font-size: 1rem;
  line-height: 1.33333;
}

/* more text styles */
.t-black {
  color: rgba(0,0,0,.9);
}
.t-bold {
  font-weight: 600;
}
.t-normal {
  font-weight: 400;
}
.t-black--light {
  color: rgba(0,0,0,.6);
}

/* sizing of recommendation text */
blockquote {
  font-size: 1rem;
  line-height: 1.3333;
  font-weight: 200;
  color: rgba(0,0,0,.75);
}
blockquote, q {
  quotes: none;
}
